data/
data.zip
output/
outputs_/
quarto/
presentation/
myenv/
test_code/
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
*.egg-info/
wandb/
figures_presentation/
bias_map_PO
.Rproj.user
outputs/
.RData
.DS_Store
outputs_old_08092026/
jobs/
misc/
logs/
outputs_20260908/
outputs_20260910/
test/
shell_scripts/